body {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #021d32;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}
.bg-cal{
  background-image: url(/assets/img/azul-glitter.png);
  background-color: #012e46;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.btn{
  background-color: #012e46;
  border-color: #021d32;
  color: aliceblue;
}
.bg-turq{
  background-image: url(/assets/img/brillo.png);
  background-color: #012e46;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.nav-link{
  color: aliceblue !important;
}
.fa{
  color: #012e46;
}
.titulo{
  font-family: 'Ubuntu', sans-serif;
  -webkit-text-stroke:#012e46 ;
}

